<%= form_with scope: :post, url: posts_path, local: true, html: { multipart: true } do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being created:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_field :caption %>
  </p>

  <p>
    <%= form.label :photo %><br>
    <%= form.file_field :photo %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  <br>
  <%= link_to 'Back to Home', root_path %>
<% end %>
